<%= erb :common %>

<h1>About Credzy</h1>
<p id="about">
<p>Credzy is funded by several of Australia's most well known bikie gangs.</p>
<p>Staff are paid <i>cash-in-hand</i> with a generous methamphetamine bonus scheme.</p>
<p>So you can rest assured that our developers rarely sleep and will struggle to find employment elsewhere.</p>
<p>That's the way we do things here at Credzy ✅</p>
</p>